<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Post</title>
  </head>
  <body>
    <p>
    <form action="/posts" method="post">
      Name: <input id="name" type="text" name="post[name]">
      Content: <input id="content" type="text" name="post[content]">
      <input id="submit" type="submit" value="Submit Post">
    </form>
    </p>
  </body>
</html>
